<?xml version="1.0"?>
<launch>
 <include file="$(find interbotix_xsarm_moveit)/launch/xsarm_moveit.launch" />
 <node pkg="optical_flow" name="optical_flow" type="oflow_breathing.py" output="screen"/>
 <node pkg="optical_flow" name="movement_subscriber" type="movement_subscriber.py" output="screen"/>
 <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.3 0 0 0 1 base_link world 100" />

</launch>
